
.h-input-centralizado {
  text-align: center;
}

h1 {
  font-family: 'Stick', sans-serif;
}

.textos-flexiveis{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.texto-maiusculo {
  text-transform: uppercase;
}

.largura-max {
  max-width: 30%;
}

.div-bot {
  justify-content: center;
  display: flex;
}

label {
  font-size: 18px;
}

input {
  margin: 5px;
}

#url:invalid {
 background-color: red;
}

#url:valid{
  background-color: pink;
}

#mail {
  background-color: pink;
  color:black;
}

.bot:hover {
  text-transform:none;
}

.bot:active {
  background-color: hotpink;
}




body {
  margin: 0;
  background-color: black;
  color: white;
}
